/* start global */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root{
    --main-color: #2196f3;
    --bg-color: #ececec;
    --main-padding: 100px;
}
body {
   font-family: "Cairo", sans-serif;
}
a {
   text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global */
/* start component */
.main-heading{
    text-transform: uppercase;
    border: 2px solid #000;
    width: fit-content;
    padding: 10px 20px;
    position: relative;
    font-size: 30px;
    transition: .5s;
    margin: 0 auto 80px;
    z-index: 1;
}
.main-heading::before,
.main-heading::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: .5s;
}
.main-heading::before{ 
    left: -30px;
}
.main-heading::after{
    right: -30px;
}
.main-heading:hover{
    color: #FFF;
    border: none;
    transition-delay: .5s;
}
.main-heading:hover::before{
    animation: move-left .5s linear forwards;
    z-index: -1;
}
.main-heading:hover::after{
    animation: move-right .5s linear forwards;
    z-index: -1;
}
.spikes{
    position: relative;
}
.spikes::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-image: linear-gradient(135deg, white 25%, transparent 25%) ,linear-gradient(219deg, white 25%, transparent 25%);
    /* background: red; */
    height: 20px;
    background-size: 30px 30px;
    top: 0px;
}
/* end component */
/* start header */
header{
    background-color: #FFF;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
header .container{
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}
header .logo{
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}
header .header-links{
    display: flex
}
@media(max-width: 767px){
    header .logo{
        width: 100%;
        height: 50px;
    }
    header .header-links{
        margin: auto;
    }
}
header .header-links > li >a{
    padding: 0 30px;
    text-transform: capitalize;
    font-size: 18px;
    color: #000;
    display: flex;
    align-items: center;
    height: 70px;
    position: relative;
    transition: .5s;
}
@media(max-width: 767px){
    header .header-links > li >a{
        height: 50px;
        font-size: 14px;
        padding: 0 10px;
    }
}
header .header-links >li >a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 0;
    background-color: var(--main-color);
    transition: .5s;
}
header .header-links >li >a:hover{
    color: var(--main-color);
}
header .header-links >li >a:hover::before{
    width: 100%;
}
header .header-links > li .dropdown{
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    display: flex;
    gap: 40px;
    background: #FFF;
    padding: 30px;
    width: 100%;
    border-bottom: 3px solid var(--main-color);
    opacity: 0;
    z-index: -1;
    transition: .5s;
}
@media(max-width: 767px){
    header .header-links > li .dropdown{
        flex-direction: column;
        gap: 0;
        padding: 0 5px;
    }
}
header .header-links > .dropdown-button:hover .dropdown{
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 100;
}
header .header-links > li .dropdown .img img{
    max-width: 100%;
}
@media(max-width: 991px){
    header .header-links > li .dropdown .img{
        display: none;
    }
}
header .header-links > li .dropdown .links{
    flex: 1;
    min-width: 250px;
}
header .header-links > li .dropdown .links li a{
    display: block;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
}
header .header-links > li .dropdown .links li:not(:last-of-type) a{
    border-bottom: 1px solid #e9e6e6;
}
@media(max-width: 767px){
    header .header-links > li .dropdown .links li a{
        border-bottom: 1px solid #e9e6e6;
        font-size: 17px;
    }
    header .header-links > li .dropdown .links:last-of-type li:last-of-type a{
        border-bottom: none;
    }
}
.header-links > li .dropdown .links li a i{
    margin-right: 10px;
}
/* end header */
/* start main */
.landing{
    position: relative;
} 
.landing::before{
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    height: 100%;
    transform: skew(0deg, -6deg);
    transform-origin: top left;
    z-index: -1;
}
.landing .container{
    position: relative;
    display: flex;
    height: calc(100vh - 72px);
    gap: 50px;
    align-items: center;
    padding-bottom: 120px;
}
.landing .content{
    flex: 1;
}
@media (max-width: 991px){
    .landing .content{
        text-align: center;
    }
}
.landing .content h1{
    margin: 0;
    font-size: 40px;
    letter-spacing: -2px;
}
@media (max-width: 767px) {
    .landing .content h1{
        font-size: 28px;
    }
}
.landing .content p{
    line-height: 1.7;
    font-size: 23px;
    color: #777;
    max-width: 500px;
}
@media (max-width: 991px) {
    .landing .content p{
        margin: 10px auto;
     }  
}
@media (max-width: 767px) {
    .landing .content p{
        font-size: 18px;
    }
 }
.landing .landing-img img{
    width: 600px;
    position: relative;
    animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
    .landing .landing-img{
        display: none;
    }
}
.landing a{
    display: block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
}
.landing a i{
    animation: bouncing 1.5s infinite;
}

/* end main */
/* start articls */
.articles{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}
.articles .article{
    border-radius: 6px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    overflow: hidden;
    transition: .5s;
    background-color: #FFF;
}
.articles .article:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .article img{
    max-width: 100%;
}
.articles .article .text,
.articles .article .info{
    padding: 20px;
}
.articles .article .text h3{
    margin: 0;
}
.articles .article .text p{
    line-height: 1.6;
    color: #777;
    margin: 10px 0 0;
}
.articles .article .info{
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .article .info a,
.articles .article .info i{
    color: var(--main-color);
    font-weight: bold;
}
.articles .article:hover .info i{
    animation: arrow-move .5s linear infinite;
}
/* end articls */
/* start gallery */
.gallery{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--bg-color);
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.gallery .box{
    padding: 20px;
    background-color: #FFF;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%) , 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .gallery-img{
    position: relative;
    overflow: hidden;
}
.gallery .gallery-img::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}
.gallery .gallery-img:hover::before{
    animation: flash .7s;
}
.gallery .gallery-img img{
    max-width: 100%;
    transition: .5s;
}
.gallery .gallery-img:hover img{
    transform: rotate(10deg) scale(1.2);
}
/* end gallery */
/* start features */
.features{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.features .feat{
    border: 1px solid #e9e6e6;
}
.features .feat:hover .img::after{
    border-width: 0px 500px 183px 0px;
}
.features .passion a::before{
    background-color: #03a9f4;
}
.features .feat:hover a{
    color: #FFF;
}
.features .feat:hover a::before{
    width: 105%;
}
.features .feat .img{
    position: relative;
    overflow: hidden;
}
.features .feat .img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.features .feat.quality .img::before{
    background-color: rgb(244 64 54 / 60%);
}
.features .feat.time .img::before{
    background-color: rgb(0 150 136 / 60%);
}
.features .feat.passion .img::before{
    background-color: rgb(3 169 244 / 60%);
}
.features .feat .img::after{
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 0;
    height: 100px;
    border-style: solid;
    border-width: 0px 0px 184px 500px;
    border-color: transparent transparent white transparent;
    transition: .3s;
}
.features .feat .img img{
    max-width: 100%;
}
.features .text{
    padding: 20px;
    text-align: center;
}
.features .text h3{
    font-size: 38px;
    font-weight: bold;
    width: fit-content;
    position: relative;
    margin: 0 auto 50px;
}
.features .text h3::before{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: calc(100% - 30px)
}
.features .quality .text h3::before{
     background-color: #f44036;
}
.features .time .text h3::before{
     background-color: #009688;
}
.features .passion .text h3::before{
     background-color: #03a9f4;
}
.features .text p{
    font-size: 20px;
    color: #777;
    line-height: 1.6;
    /* margin: 0 auto; */
}
.features a{
    border: 3px solid;
    padding: 10px 30px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
    transition: .5s;
    position: relative;
}
.features .quality a{
    color: #f44036;
    border-color: #f44036;
}
.features .time a{
    color: #009688;
    border-color: #009688;
}
.features .passion a{
    color: #03a9f4;
    border-color: #03a9f4;
}
.features a::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -3px;
    width: 0px;
    height: 101%;
    z-index: -1;
    transition: .5s;
    border-radius: 6px;
}
.features .quality a::before{
    background-color: #f44036;
}
.features .time a::before{
    background-color: #009688;
}

/* end features */
/* start testimonials */
.testimonials{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--bg-color);
}
.testimonials .container{
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
   gap: 40px;
}
.testimonials .client{
   background-color: #FFF;
   position: relative;
   border-radius: 6px;
   box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
   padding: 20px;
}
.testimonials .client .avatar{
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 50%;
    width: 100px;
    position: absolute;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50px;
    right: -10px;
}
.testimonials .client .avatar img{
   width: 80px;   
   border-radius: 50%;
}
.testimonials .client .info h3{
    margin: 0 0 10px 0;
}
.testimonials .client .info span{
    color: #777;
    display: block;
    margin-bottom: 10px;
}
.testimonials .client .info ul{
    display: flex
}
.testimonials .client .info ul li{
    margin-right: 3px;
}
.testimonials .client .info ul li i.filled{
    color: #ffc107
}
.testimonials .client .info p{
    line-height: 1.6;
    color: #777;
    margin: 10px 0 0 0;
}
/* end testimonials */
/* start team members */
.team-members{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.team-members .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.team-members .card{
    position: relative;
}
.team-members .card:hover img{
    filter: grayscale(100%);
}
.team-members .card::after,
.team-members .card::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(--bg-color);
    transition: .5s;
    border-radius: 10px;
}
.team-members .card::after{
    width: calc(100% - 60px);
    z-index: -2;
}
.team-members .card::before{
   width: 0;
   z-index: -1;
   background-color: #e4e4e4;
}
.team-members .card:hover::before{
    width: calc(100% - 60px);
}
.team-members .card .data{
    display: flex;
    padding-top: 60px;
    align-items: center;
}
.team-members .card img{
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: .5s;
}
.team-members .card .data .social-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    gap: 20px;
}
.team-members .card .data .social-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 60px;
}
.team-members .card .data .social-icons a i{
   color: #777;
   transition: .5s;
}
.team-members .card .data .social-icons a:hover i{
    color: var(--main-color);
}
.team-members .card .info{
    padding: 20px 0px 10px 75px;
}
.team-members .card .info h3{
    margin: 0 0 10px 0;
    color: var(--main-color);
    font-size: 22px;
    transition: .5s;
}
.team-members .card:hover .info h3{
    color: #777;
}
.team-members .card .info p{
    margin: 0 0 15px 0;
    transition: .5s;
}
/* end team members */
/* start services */
.services{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--bg-color);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.services .ser-box{
    background-color: #FFF;
    text-align: center;
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%) ;
    transition: .5s;
    counter-increment: services;
}
.services .ser-box:hover{
    transform: translateY(-10px);
}
.services .ser-box:hover::before{
    width: 100%
}
.services .ser-box::before{
    content: '';
    position: absolute;
    top: -2px;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: .5s;
    left: 50%;
    transform: translateX(-50%);
}
.services .ser-box i{
    font-size: 60px;
    color: #d5d5d5;
    margin-top: 30px;
    display: block;
}
.services .ser-box h3{
    color: var(--main-color);
    margin: 20px 0 40px;
    font-size: 25px;
}
.services .ser-box .info{
    background-color: rgb(249, 249, 249);
    padding: 15px;
    text-align: right;
    position: relative;
}
.services .ser-box .info::before{
    content: '0' counter(services);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    width: 80px;
    height: 100%;
    color: #FFF;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding-right: 20px;
}
.services .ser-box .info::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 80px;
    width: 50px;
    height: 100%;
    background: #e4e4e4;
    transform: skewX(-30deg);
}
.services .ser-box .info a{
    color: var(--main-color);
}
/* end services */
/* start skills */
.skills{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.skills .container{
    display: flex;
    gap: 40px;
}
@media(max-width: 991px){
    .skills .img{
        display: none;
    }
}
.skills .progress{
    flex: 1;
}
.skills .progress .box{
    margin-bottom: 20px;
}
.skills .progress .box h3{
    display: flex;
    justify-content: space-between;
}
.skills .progress .box h3 span{
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 12px;
    padding: 2px 5px;
    color: var(--main-color);
}
.skills .progress .box .prog{
    background-color: #eee;
    height: 30px;
    position: relative;
}
.skills .progress .box .prog span{
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    transition: width 0.5s linear;
}
/* end skills */
/* start work steps */
.work-steps{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--bg-color);
}
.work-steps .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
@media (max-width: 991px) {
    .work-steps .container{
        flex-direction: column;
    }
}
.work-steps .container>img{
    max-width: 100%;
    margin-right: 100px;
}
@media(max-width: 991px){
    .work-steps .container > img{
        margin-right: 0;
        margin-bottom: 40px;
    }
}
.work-steps .steps .step{
    background-color: rgb(246, 245, 245);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 2px solid #FFF;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.work-steps .steps .step::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(237, 237, 237);
    width: 0;
    height: 0;
    border-radius: 6px;
    z-index: -1;
    transition: .3s;
}
.work-steps .steps .step:hover::before{
    width: 100%;
    height: 100%;
}
.work-steps .steps img{
    width: 64px;
    /* height: 60px; */
}
.work-steps .steps .step .text h3{
   margin: 0 0 10px 0;
   font-size: 23px;
}
.work-steps .steps .step .text p{
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    color: #777;
 }
/* end work steps */
/* start latest events */
.latest-events{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    /* z-index: 1; */
}
.latest-events .img-left{
    position: absolute;
    bottom: 20%;
    left: 0;
    z-index: -1;
}
.latest-events .img-right{
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
}
@media (max-width: 767px){
    .latest-events .img-left,
    .latest-events .img-right{
        display: none;
    }
}
.latest-events .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.latest-events .container > img{
    width: 450px;
}
@media (max-width: 991px) {
    .latest-events .container > img{
        display: none;
    }
}
.latest-events .event{
    flex: 1;
    text-align: center;
}
.latest-events .event .date{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 10px;
}
@media (max-width: 767px){
    .latest-events .event .date{
        gap: 5px;
    }
}
.latest-events .event .date .time{
    border: 1px solid #D4D4D4;
    border-radius: 6px;
    transition: .5s;
    width: 75px;
}
.latest-events .event .date .time:hover{
    border-color: var(--main-color);
}
.latest-events .event .date .time span{
    display: block;
}
.latest-events .event .date .time span:first-of-type{
    color: var(--main-color);
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
}
.latest-events .event .date .time span:last-of-type{
    font-size: 13px;
    border-top: 1px solid #D4D4D4;
    padding: 8px 10px;
    transition: .5s;
}
.latest-events .event .date .time:hover span:last-of-type{
    border-top-color: var(--main-color);
}
.latest-events .event h3{
    font-size: 28px;
    margin: 0 0 15px 0;
}
.latest-events .event p{
    font-size: 18px;
    color: #777;
    line-height: 1.7;
    margin: 0;
}
.latest-events form{
    width: 600px;
    background: #f6f5f5;
    display: flex;
    border-radius: 70px;
    padding: 30px;
    margin: 100px auto 0;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
@media (max-width: 767px){
    .latest-events form{
        width: 85%;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 50px;
    }
}
.latest-events form input{
    border-radius: 30px;
    padding: 20px;
    border: none
}
.latest-events form input[type= "email"]{
    width: calc(100% - 100px);
    caret-color: var(--main-color);
}
.latest-events form input[type= "email"]:focus{
    outline: none;
}
.latest-events form input[type= "email"]::placeholder{
    transition: opacity .5s;
}
.latest-events form input[type= "email"]:focus::placeholder{
    opacity: 0;
}
.latest-events form input[type= "submit"]{
    width: 100px;
    color: #FFF;
    background-color: var(--main-color);
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media (max-width: 767px){
    .latest-events form input[type= "email"],
    .latest-events form input[type= "submit"]{
        border-radius: 10px;
        width: 100%;
    }
}
/* end latest events */
/* start pricing */
.pricing{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--bg-color);
    position: relative;
    z-index: 1;
}
.pricing .img-left{
    position: absolute;
    bottom: 20%;
    left: 0;
    z-index: -1;
}
.pricing .img-right{
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
}
.pricing .container{
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
   gap: 40px;
}
.pricing .plan{
    background-color: #FFF;
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    z-index: 1;
}
@media (min-width: 1200px){
    .pricing .plan.active{
        transform: translateY(-30px);
    }
}
.pricing .plan::before,
.pricing .plan::after{
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    transition: .5s;
    z-index: -1;
}
.pricing .plan::before{
    left: 0;
    top: 0;
}
.pricing .plan::after{
    right: 0;
    bottom: 0;
}
.pricing .plan:hover::before,
.pricing .plan:hover::after{
    width: 100%;
}
.pricing .most-popular{
    position: absolute;
    top: 0px;
    right: 30px;
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    writing-mode: vertical-lr;
    width: 40px;
    padding: 10px 10px 35px 10px;
}
.pricing .most-popular::before{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    border-style: solid;
    border-width: 20px;
    border-color: transparent transparent white transparent;
}
.pricing .plan .info{
    text-align: center;
    padding: 30px 0;
}
.pricing .plan .info h3{
    font-size: 25px;
    margin: 0 0 25px 0;
    letter-spacing: -1px;
}
.pricing .plan .info img{
    width: 80px;
}
.pricing .plan .info p{
    font-size: 55px;
    color: var(--main-color);
    font-weight: bold;
    margin: 25px 0 10px 0;
}
.pricing .plan .info span{
    color: #777;
}
.pricing .plan ul li{
    border-top: 1px solid #eee;
    padding: 20px;
    position: relative;
}
.pricing .plan ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    color: var(--main-color);
    margin-right: 10px;
    font-weight: 900;
}
.pricing .plan a{
    width: fit-content;
    padding: 15px 20px;
    margin: 40px auto;
    border: 2px solid var(--main-color);
    display: block;
    color: var(--main-color);
    border-radius: 6px;
    transition: .5s;
    font-weight: bold;
}
.pricing .plan a:hover{
    background-color: var(--main-color);
    color: #FFF;
}
/* end pricing */
/* start video */
.video{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.video .container{
    display: flex;
    justify-content: center;
}
@media (max-width: 991px) {
    .video .container{
        flex-direction: column;
    }
}
.video .sidebar{
    border: 1px solid #DDD;
    border-right: none;
    min-width: 300px;
}
@media (max-width: 991px){
    .video .sidebar{
        border: 1px solid #DDD;
    }
}
.video .sidebar .head{
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
}
.video .sidebar .head h3{
    margin: 0;
    font-size: 15px;
}
.video .sidebar ul li{
    padding: 20px 15px;
    border-top: 1px solid #DDD;
    cursor: pointer;
    transition: .3s;
}
.video .sidebar ul li:hover{
    color: var(--main-color);
    background-color: #FAFAFA;
}
.video .sidebar ul li span{
    display: block;
    color: #777;
    margin-top: 10px;
}
.video .video-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ececec;
    padding: 10px;
}
.video .video-holder img{
    max-width: 100%;
}
@media (max-width: 991px){
    .video .video-holder img{
        margin-bottom: 20px
    }
}
.video .video-holder p{
    background-color: #FFF;
    padding: 20px;
    margin: 0;
}
/* end video */
/* start stats */
.stats{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../imgs/stats.jpg);
    background-size: cover;
    position: relative;
}
.stats::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}
.stats .container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}
.stats h2{
    position: relative;
    text-align: center;
    font-size: 40px;
    margin: 0 0 40px 0;
}
@media (max-width: 767px){
    .stats h2{
        font-size: 35px;
    }
}
.stats .box{
    background-color: #FFF;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    text-align: center;
    padding: 30px;
    position: relative;
    transition: .5s;
    opacity: .8;
}
.stats .box:hover{
    opacity: 1;
}
.stats .box::before,
.stats .box::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 1S;
}
.stats .box::before{
    bottom: 0;
    left: 0;
}
.stats .box::after{
    top: 0;
    right: 0;
}
.stats .box:hover::before,
.stats .box:hover::after{
     height: 100%;
}
.stats .box p{
    margin: 15px 0;
    font-size: 50px;
    font-weight: bold;
}
.stats .box span{
    font-style: italic;
    display: block;
    font-weight: bold;
    color: var(--main-color);
    font-size: 20px;
}
/* end stats */
/* start discount */
.discount{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.discount .discount-img{
    position: relative;
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    animation: bg-change 10s linear infinite;
    transition: .5s;
}
@media (max-width: 991px){
    .discount .discount-img{
        flex-basis: 100%;
    }
}
.discount .discount-img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}
.discount .discount-img .content{
    text-align: center;
}
.discount .discount-img .content h2{
    font-size: 40px;
    margin: 0;
    color: #FFF;
    letter-spacing: -2px;
}
.discount .discount-img .content p{
    color: #FFF;
    line-height: 1.7;
    font-size: 20px;
    max-width: 500px;
    margin: 30px 0;
}
@media (max-width: 767px){
    .discount .discount-img .content h2{
        font-size: 35px;
    }
    .discount .discount-img .content p{
        padding: 0 10px;
        font-size: 18px;
    }
}
.discount .discount-img .content img{
    width: 300px;
    max-width: 100%;
}
.discount .discount-from{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    flex-basis: 50%;  
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 991px){
    .discount .discount-from{
        flex-basis: 100%;
    }
}
.discount .discount-from h2{
    font-size: 40px;
    margin: 0 0 30px 0;
    letter-spacing: -2px;
}
@media (max-width: 767px){
    .discount .discount-from h2{
        font-size: 35px;
    }
}
.discount .discount-from form input,
.discount .discount-from form textarea{
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #CCC;
    padding: 15px 10px;
    margin: 20px 0;
    width: 100%;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}
.discount .discount-from form input:focus,
.discount .discount-from form textarea:focus{
   outline: none;
}
.discount .discount-from form textarea{
    height: 200px;
    resize: none;
}
.discount .discount-from form input[type = "submit"]{
    background-color: var(--main-color);
    color: #FFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
/* end discount */
/* start footer */
.footer{
    background-color: #191919;
    padding-top: calc(var(--main-padding) - 30px);
    /* padding-bottom: calc(var(--main-padding) - 30px); */
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 30px;
    padding-bottom: 30px;
}
@media (max-width: 767px){
    .footer .container{
        text-align: center;
    }
}
.footer .box h2{
    color: #FFF;
    font-size: 45px;
    margin: 0 0 10px 0;
}
.footer .box div.social{
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@media (max-width: 767px){
    .footer .box div.social{
        justify-content: center;
    }
}
.footer .box div.social a{
    background-color: rgb(49, 49, 49);
    color: rgb(185, 185, 185);
    padding: 20px;
    margin-right: 10px;
    transition: .5s;
}
.footer .box div.social a.facebook:hover{
    background-color: #3b5998;
}
.footer .box div.social a.twitter:hover{
    background-color: 	#55acee;
}
.footer .box div.social a.youtube:hover{
    background-color: #cd201f;
}
.footer .box p{
    color: #b9b9b9;
    line-height: 2;
}
.footer .box .list li {
    width: 100%;
    padding: 15px 0;
}
.footer .box .list li:not(:last-child){
    border-bottom: 1px solid #444;
}
.footer .box .list li:hover a{
    padding-left: 10px;
    color: #FFF;
}
.footer .box .list li a{
    color: #b9b9b9;
    position: relative;
    transition: .3s;
}
.footer .box .list li a::before{
    font-family: "Font Awesome 5 Free";
    content: "";
    font-weight: 900;
    color: var(--main-color);
    margin-right: 10px;
}
.footer .box .info{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
@media (max-width: 767px){
    .footer .box .info{
        flex-direction: column;
        text-align: center;
    }
}
.footer .box .info i{
    color: var(--main-color);
    font-size: 25px;
    margin-top: 5px;
}
@media (max-width: 767px){
    .footer .box .info i{
         margin: 5px auto;
    }
}
.footer .box .info .address{
    color: #b9b9b9;
    line-height: 1.6;
}
.footer .box .info span{
    display: block;
    margin-bottom: 7px;
}
.footer .box.footer-imgs img{
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
.footer .copyright{
    text-align: center;
    padding: 25px 0;
    color: #FFF;
    margin: 0;
    border-top: 1px solid #444;
    font-size: 18px;
}
/* end footer */
/* start animation */
@keyframes up-and-down{
    0%, 100%{
        top:0;
    }
    50%{
        top: -50px;
    }
}
@keyframes bouncing{
    0%,10%,20%,30%,50%,80%,100%{
       transform: translateY(0);
    }
    40%,60%{
        transform: translateY(-10px);
    }
}
@keyframes move-left{
    50%{
        width: 12px;
        height: 12px;
        left: 0;
    }
    100%{
        width: 50%;
        height: 100%;
        left: 0;
        border-radius: 0;
    }
}
@keyframes move-right{
    50%{
        width: 12px;
        height: 12px;
        right: 0;
    }
    100%{
        width: 50%;
        height: 100%;
        right: 0;
        border-radius: 0;
    }
}
@keyframes arrow-move{
   100%{
       transform: translateX(10px);
   }
}
@keyframes flash{
    0% , 40%{
       opacity: 1;
    }
    100%{
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
@keyframes bg-change{
    0% , 100%{
        background-image: url(../imgs/discount-background1.jpg)
    }
    50%{
        background-image: url(../imgs/discount-background2.jpg)
    }
}
/* end animation */